<script src="js/webcam.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<div id="my_camera" style="width:320px; height:240px;"></div>
<div id="my_result"></div>

<script language="JavaScript">
    Webcam.attach( '#my_camera' );

    function take_snapshot() {
        Webcam.snap( function(data_uri) {
          console.log(typeof(data_uri))
            $('.my_result').innerHTML = '<img src="'+data_uri+'"/>';
            $.ajax({
            url: '/image',
            data: {data: data_uri},
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
        } );
    }
</script>

<a href="javascript:void(take_snapshot())">Take Snapshot</a>
